.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll {
  overflow: scroll;
  height: 100vh;
}

hr {
  width: 100%;
  background-color: #282c34;
  height: 3px;
}
#w100 {
  flex-basis: 100%;
}
.w100 {
  /* flex-grow: 0 !important; */
  flex-basis: 100% !important;
  /* width: 100% !important; */
  background-color: pink;
}

#container-info {
}

/* id has higher priority than classes */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  #container-info {
    width: 40%;
  }

  #container-template {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}