* {
  box-sizing: border-box;
}

.scroll {
  overflow: scroll;
  height: 100vh;
}

.btn {
  font-size: 1.5rem;
}
.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

hr {
  width: 100%;
  background-color: #282c34;
  height: 3px;
}

#container-info {
}

#container-template {
  /* display: flex; */
  /* justify-content: flex-end; */
}

/* id has higher priority than classes */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 764px) {
  #container-info {
    width: 30%;
  }
  #container-template {
    width: 70%;
  }
}

@media (min-width: 987px) {
  #container-info {
    width: 35%;
  }
  #container-template {
    width: 65%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media print {
  .scroll {
    overflow: hidden;
  }
}